<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Utils</title>
</head>
<body>
<h1>Welcome to the text analyzer. Enter your text below</h1>
<form action="/Analyze" method="get">
    <textarea name="text" style="width: 1241px; height: 172px;"></textarea>
    <input type="checkbox" name="removepunc"> remove punctuations<br>
    <input type="checkbox" name="fullcaps"> UPPER CASE<br>
    <input type="checkbox" name="newlineremover"> New Line Remover<br>
    <input type="checkbox" name="extraspaceremover"> Extra spaces remover <br>
    <button type="submit"> Analyze text</button>
</form>
</body>
</html>